.header-container {
  height: 52px;
  width: 1024px;
  margin: auto;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 15px 0 15px 0;
  background-color: #121212;
  z-index: 1; // make header above all

  .logo {
    height: 100%;
    cursor: pointer;
    img {
      height: 100%;
    }
  }

  .search-bar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    input {
      height: 100%;
      width: 764px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: none;
      outline: none;
      padding: 0 20px 0 20px;
      font-size: 18px;
    }

    #search-icon {
      padding: 13px 13px 12px 13px;
      border: 1px solid white;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;

      img {
        height: 21px;
      }
    }
  }
}
